body {
    background-color: black;
    width: 1200px;
    background-image: url(../img/space-background.jpg);
    background-size: cover;
    font-family: 'Zen Dots', serif;
    font-size: 22px;
    color: white;
}

main {
    text-align: center;
    
}

h1 {
    font-family: 'Major Mono Display', serif;
    font-size: 100px;
}